.title {
    color:pink;
    transition: 0.2s;
    margin-left: 30vw;
}

.title:hover {
    cursor: pointer;
    transition: 0.2s;
    transform:scale(1.1)
}

.image {
    width: 700px;
    height: auto;
    transition: 1s;
}

.image:hover {
    transform: rotate(360deg) scale(2);
    transition: 1s;
}